/* @media (min-width: 768px) and (max-width: 991px)  */

/* HEADER */

.boutonRechercheD {
  display: none;
}

.boutonRechercheI {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065fc;
  color: white;
  border: 0px;
  border-radius: 15px;
  margin-left: -20px;
  width: 50px;
  height: 100%;
  font-size: medium;
  font-weight: bold;
}
.entreeVille {
  width: 220px;
}

.pourCentrerTablette {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filtres {
  flex-direction: column;
  background-color: #0065fc;
  color: white;
}
#filtres ul {
  /* background-color: aqua; */
  width: 100%;
  justify-content: center;
  padding:unset;
}

#filtres li {
  /* background-color: red; */
  margin: 5px;
}
#filtres a {
  color: white;
}

/* SECTION HEBERGEMENT */

#hebergement {
  /* background-color: orange; */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}
/* POPULAIRE */
.populaires {
  align-items: center;
  border-radius: 0px;
  width: 100%;
}
.TitrePop {
  width: 100%;
}
.cartesPop {
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}
.cartesPop a {
  /* background-color: aqua; */
  width: 75%;
  height: 150px;
  margin: 15px;
}

/* LOGEMENTSVILLE */

.logementsVille {
  background-color: white;
  width: 100%;
  height: auto;
}
.divCartes{
  justify-content: center;
}
.divCartes a {
  /* background-color: aqua; */
  width: 42%;
  height: 175px;
  margin: 30px;
}
lien a{
  margin-top: 20px;
}

/* SECTION ACTIVITES */
#activites{
  height: 750px;
  margin-bottom: 0%;
}
.cartesActivites {
  flex-direction: column;
  height: 700px;
  width:100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.colonnedesktop {
  width: 45%;
  justify-content: flex-start;
  height: auto;
}
/* a verifier: */
.grandeCarte {
  width: 45%;
  height: 175px;
  margin: 30px 5px 0 5px; 
}
.imgActiviteGC {
  height: 75%;
}
.moyenneCarte{
  margin: 30px 0 0 0; 
  height: 175px;
}
.imgActiviteMC {
  height: 75%;
}
.petiteCarte{
  margin: 30px 0 0 0; 
  height: 175px;
}
.imgActivitePC {
  height: 75%;
}
.h3Activite {
  height: 25%;
}

/* FOOTER */
.pourGris {
  width: 90%;
  /* background-color: #f2f2f2; */
}
piedDePage {
  margin-top: 30px;
}
.piedDePage li {
  padding-bottom: 10px;
}
